/* Element selector that gives every p element a monospace font. */
p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Class selector that gives elements with this class a big bold style. */
.goodjust {
  font-size: large;
  font-weight: bold;
}

/* ID selector that gives the element with this ID a red style. */
#boldly {
  color: red;
}