div {
  text-align: center;
   border: thick dotted darkmagenta;
   color: midnightblue;
}


p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
}

.goodjust {
  font-size: large;
  font-weight: bold;
}

#redrobe {
  color:darkred;
  font-size: larger;
  font-style: italic;
}

#bureau {
  color: blue;
  font-style: italic;
  font-size:smaller;
}

h6 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}